.title{
    text-align: center;
}

.mew-form, .loading{
    width: 50%;
    margin: auto;
}

.mews{
    width: 50%;
    background-color: cornsilk;
    margin: auto;
}

.header{
    background-color: cornsilk;
    margin-bottom: 5px;
    margin-left: 2px;
    
}

.contents{
    background-color: whitesmoke;
    margin-left: 15px;
    margin-bottom: 0px
}
.date{
    background-color: whitesmoke;
    text-align: right;
    margin-left: 15px;

}

.button-container{
    display: flex;
    justify-content: center;
}